body {
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-weight: 900;
    background-color: beige;
}

#menu {
    align-self: center;
    width: auto;
}

#task {
    align-self: center;
    font-size: 4vmax;
    margin-top: 3vh;
}

input {
    display: inline-block;
    max-width: 6vmax;
    text-align: right; 
}

#stats {
    font-size: 1.8vmax;
    font-weight: 400;
    position:fixed;
    bottom: 1.5vmax;
    left: 1.5vmax;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 2vmin;
    grid-row-gap: 0.2vmin;
}